xbody *{
  box-shadow: 1px 1px 1px,-1px -1px 1px;
}


body{
  margin:0;
  padding:0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}/*1210修改*/

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}   /*1210修改*/

.bg-topbar{
  width :100%;
  background-color:#333333;
}

.topbar{
  position: relative;
  width:1226px;
  height:40px;
  margin:auto;
  font: 12px "Helvetica Neue", Helvetica, Arial;
  vertical-align: middle;
  text-align: left;
  line-height: 40px;
}

/* 上边框栏基础宽高设置，对齐 */

.topbar a{
    display: inline-block;
    text-decoration: none;
    color:  #B0B0B0;
}

.topbar a:hover{
    color: #FFFFFF;
}

.topbar span{
  display:inline-block;
  margin:0 0.3em;
  color: #424242;
}
/* 此处的优先级为0011，下方.a .b .c的优先级为0010，所以导致下方.a .b .c无法对齐。
优先级问题，必须高度注意。 */


/* 对topbar的所有a span设置inline-block样式，对a设置泛用hover */

.downloadcode{
    position: relative;
}

.downloadcode>.triangle{
    display: none;
   border: 7px solid;
   border-color: transparent transparent white transparent;
   position: absolute;
   bottom: 0;
   left:12px;
}

.codeimg{
    display: inline-block;
    margin: 18px 17px 12px 17px;
    width: 90px;
    height: 90px;
}

.downloadcode>.code{
    display: block;
    box-shadow: 1px 0 3px rgb(170,170,170),-1px 0 3px rgb(170,170,170),0 1px 3px rgb(170,170,170);
    position: absolute;
    text-align: center;
    width: 124px;
    height: 0px;
    line-height: 13px;
    font-size: 13px;
    left: -42px;
    transition: 0.2s;
    transition-delay: 0.1s;
    background:white;
    z-index: 200;
    overflow: hidden; /*实现hover效果的关键*/
}

.downloadcode:hover>.code{
height: 148px;
transition: 0.2s;
}

.downloadcode:hover>.triangle{
    display:inline-block;
}

/* 以上实现二维码呼出效果，主要使用：
1.父级框包裹子级图片库框设置布局实现定位便捷性
2.hover时，通过transition变化父级框height并配合ovrflow实现呼出效果
3.小三角形由border制作，布局时忽略了，此处应用图片块的伪元素实现较合理，

pit: 若父级框内有元素，不能简单理解为设置height为0便能隐藏整个内容块 */



.topbar-right{
   float: right;
   vertical-align: middle;
   position: relative;

}

.minicar{
    display: inline-block;
    height: 40px;
    width: 120px;
    margin-left: 23px;
    background-color: #424242;
    text-align: center;
    position: relative;
}

.cartohell{
    position: absolute;
    display: inline-block;
    width:20px;
    height:20px;
    top: 10.5px;
   vertical-align: middle;
   margin-right: 5px;
   transition-delay: 0.5s;
}

.cartohell-hover{
    position: relative;
    display: inline-block;
    width:20px;
    height:20px;
   vertical-align: middle;
   margin-right: 5px;
   visibility:hidden;
    transition-delay: 0.5s;
}

/* cartohell cartohell 通过display:none实现替换图片的效果 */

/* 右侧bar雏形 */



.money1{
    background-color: white;
    position: absolute;
    vertical-align: middle;
    top:40px;
    left:-200px;
    line-height: 100px;
    width: 316px;
    height: 0px;
    /* 定位与宽高 */
    box-shadow: 1px 2px 2px rgb(170,170,170),-1px 2px 2px rgb(170,170,170),0 1px 1px rgb(170,170,170);
    overflow: hidden;
    z-index: 100;
    transition: 0.2s;
    transition-delay: 0.3s;
}

a[class="minicar"].minicar{
    color:  #B0B0B0;
    background-color:#424242;
    transition-delay: 0.5s;
}

a[class="minicar"].minicar:hover{
    background-color: #FFFFFF;
    color: #FF6700;
    transition: 0ms;
}


.minicar:hover .money1{
height: 100px;
z-index: 100;
transition: 0.3s;
transition-delay: 0.1s;
}


/* 此处Z-index是为了实现遮盖呼出栏2的hover回复效果 */

.minicar:hover .cartohell-hover{
    visibility:visible;
    transition:0s;
}
.minicar:hover .cartohell{
    visibility: hidden;
    transition:0s;
}

/* 购物车hover呼出框1 */



.minicar:hover .money2{
height: 100px;
transition: 0.3s;
}

.money2{
  top:40px;
   left:-200px;
 width: 316px;
    height: 0px;
  position:absolute;
    overflow: hidden;
    transition: 0.2s;
    transition-delay: 0.3s;
}



.minicar:hover .huanchong{
  transition-property:height,width;
  transition-duration:0s,0s;
  transition-delay:0s,0.3s;
  height:100px;
  width:0;
  z-index: 100;
}

.huanchong{
  width:316px;
  height:100px;
  position:relative;
  overflow: hidden;
  background-color: white;
  z-index: -10;
}

.huanchong span{
  transition:0.3s;
}

.minicar>.money2 .a{
  position:absolute;
  width:4px;
  height:16px;
  top:0;
  left:140px;
  bottom:0;
  margin:auto;
  background-color:rgb(255,0,0,1);
 
}

.minicar>.money2 .b{
  position:absolute;
  width:4px;
  height:12px;
  top:0;
  left:150px;
  bottom:0;
  margin:auto;
  background-color:rgb(255,0,0,0.5);
 
}

.minicar>.money2 .c{
  position:absolute;
  width:4px;
  height:4px;
    top:0;
  left:160px;
  bottom:0;
  margin:auto;
  background-color:rgb(255,0,0,0.11);
}

.minicar:hover .a{
  transition-property:height,background-color;
  transition-duration:0.3s,0.3s;
  height:10px;
  transition-delay:0.15s;
  background-color:rgb(255,0,0,0.1);
}

.minicar:hover .b{
  transition-property:height,background-color; 
  transition-duration:0.3s,0.3s;
  height:20px;
  transition-delay:0.15s;
  background-color:rgb(255,0,0,1);
}
.minicar:hover .c{
  transition-property:height,background-color; 
  transition-duration:0.3s,0.3s;
  height:12px;
  transition-delay:0.15s;
  background-color:rgb(255,0,0,0.7);
}

/* 
hover呼出栏2，由缓冲动画框和动画消除框组成
缓冲动画框：
由细条配合transition改变颜色及长度形成，通过hover呼出缓冲动画

动画消除框：
由缓冲动画框的父级框形成，通过transition对height改变实现呼出，
同时对width设置延迟使其突变为0，达到hover状态自动消失的效果 */

.bg-nextbar{
  width: 100%;
  height: 100px;
}

div.nextbar{
  width: 1226px;
  height: 100px;
  margin: auto;
  xposition: relative;
  background-color: white;
}

div.nextbar *{
  display: inline-block;
  text-decoration: none;
}

.MIlogo{
  margin-right: 168px;  /*空出与旁边link块的距离*/
}

.MIlogo>.logo{
  width: 55px;
  height: 55px;
  vertical-align: middle;
  overflow: hidden;
  background-color: #FF6700;
  position: relative;
}

.MIlogo>.logo::before{
  content: "";
  position: absolute;
  top:3px;
  left: 3px;
  width: 49px;
  height: 49px;
  background-image: url(http://s02.mifile.cn/assets/static/image/mi-logo.png);
  transition: 0.15s ;
}

.MIlogo:hover>.logo::before{
  left: 49px;
  transition: 0.15s ;
}

/* MI图标hover效果 */

.MIlogo>.logo::after{
  content: "";
  position: absolute;
  top:3px;
  left: -49px;
  width: 49px;
  height: 49px;
  background-image: url(https://s02.mifile.cn/assets/static/image/mi-home.png);
  background-size: 49px 49px;
  transition: 0.15s ; /*huver和active的延迟动画*/ 
}

.MIlogo:hover>.logo::after{
  left: 3px;
  transition: 0.15s ;
}

/* home图标hover效果 */

.MIlogo:active>.logo::after{
  background-size: 45px 45px;
  left: 5px;
  top: 5px;
  transition-duration: 0.15s;
}

/* home图标点击缩小效果 */

.bg-nextbar>.nextbar>div.linkarea{
  height: 88px;
  padding-top: 12px;
  text-align: center;
  vertical-align: middle;
  xposition: relative;
  z-index: 10;
}

.linkarea{
  font-size: 0;
}

.linkarea>div.link{    /**/
display: inline-block; 
height: 24px;
padding:26px 10px 38px;
margin: 0;;
font-size: 16px;
color: #333333;
}

.linkarea>div.link:hover{   /**/
  color:#FF6700;
}



/* LINK块 */

.searchbar{
  position: relative;
  font-size: 0;
  top: -54px;
  left:377px;
}

form{
  width: 295px;
  height: 50px;
  top: 25px;
  position: absolute;
  right:0;

}
.inputbox{
  width: 245px;
  padding:0 10px;
  border:1px solid #e0e0e0;
  box-sizing: border-box;
  height: 50px;
  z-index: 1;  /*12/9 从-200改至1*/
  transition:0.2s;
}

/* 搜索框位置调整，此处注意购物车的层级 */

.inputbox:focus,.inputbox:focus~.iconfont{
  border-color:#FF6700 !important; 
  outline:1px #FF6700 !important;  /*控制轮廓颜色*/
  box-shadow: none;
}

/* 完成focus搜索框和图标同步变色 */


form:hover>.inputbox,form:hover>.iconfont{
  border:1px rgb(176,176,176) solid;
  transition:0.2s;
}

form:hover>.iconfont{
  border-left:0 ;
}

/* 搜索框与图标hover效果相互呼应
兄弟块有相互呼应效果的，应对齐父块进行设置 */  

form>.iconfont{
  border:1px solid #e0e0e0;
  border-width: 1px 1px 1px 0;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 19px;
  background-color: white;
  transition:0.3s;
}
/* 图标位置调整 */
#icon:hover{
  background-color: #FF6700;
  color: white;
}

#icon:focus{
  outline:none;
}

/* 图标hover效果 */

/* .inputbox::before{
    content: "小米9 Pro 5G";
    position: absolute;
    left: 0;
    color: black;
    background-color: rgb(238,238,238);
}

input没有伪元素  切记！！！ 切记！！！
*/
.tip1{
  position: absolute;
  background: rgb(238,238,238);
  font-size: 12px;
  color:rgb(117,117,117);
  padding: 2px 4px;
  left: 60px;
  top:16px;
  transition: 0.3s;
}

.tip2{
  position: absolute;
  background: rgb(238,238,238);
  font-size: 12px;
  color:rgb(117,117,117);
  padding: 2px 4px;
  left: 150px;
  top:16px;
  transition: 0.3s;
}
/* 框内产品tips */

.tip1:hover,.tip2:hover{
  background-color:rgb(255,103,0);
  color:rgb(255,255,255);
  transition: 0.2s;
}
/* 框内产品tips hover效果 */

.inputbox:focus ~ a[class*="tip"]{
  opacity: 0;
  transition: 0.3s;
}
/* 输入框input消失 */

.downbox{
  border: 0 solid rgb(255,103,0);
  border-top: 0;
  height: 0px;
  width: 243px;
  position: absolute;
  left: 0;
  top:50px;
  overflow: hidden;
}

.downbox>a{
  display: inline-block;
  width: 243px;
  height:30px;
  font-size: 12px;
  color: rgb(66,66,66);
  line-height: 25px;
  vertical-align: middle;
  text-indent:16px;
  background-color: white;
}

.downbox>a:hover{
  background-color:rgb(250,250,250) ;
}

.inputbox:focus~.downbox{
  height: 300px;
  border: 1px solid rgb(255,103,0);
  border-top: 0;
  z-index: 4;
}
/* 搜索框呼出框 */

.linkarea>div>.bg{
  xborder: 1px solid rgb(224,224,224);
  position: absolute;
  width: 100%;
  left: 0;
  top: 140px;
  margin: auto;
  height: 0px;
  background-color: white;
  overflow: hidden;
  transition: 0.3s;
  transition-delay: 0.3s;
  z-index: 3;
}
/* 背景100%网页宽度，注意要实现100%宽度，定位目标要为body */

.pbg{
  xposition: absolute;
  xleft:347px;
  font-size: 0;
  width: 1226px;
  height: 230px;
  margin: auto;
}

.asd {
  display: inline-block;
  background-color:white ;
  width: 203px;
  height:230px;
  overflow: hidden;
}

.pbg .thinbar{
  display: inline-block;
  width: 1px;
  height: 100px;
  background-color:#E7E7E7 ;
  position: relative;
  top:-40px;
}

.asd>img{
  padding: 35px 12px 0;
}

div.pdtname{
  width: 180px;
  padding: 26px 12px 0;
  font-size: 12px;
  color: #333333;
}

p.pdtprice{
  width: 180px;
  padding: 4px 12px;
  margin: 0;
  font-size: 12px;
  color:#FF6700;
}

/* 图片块设置与定位 */

/* div.link:hover>.bg{
  height: 230px;
  transition: 0.3s;
  transition-delay: 0s;
  xborder: 1px solid rgb(224,224,224);
  box-shadow: 0px 1px 4px rgb(200,200,200);
} */

div.linkarea:hover>.link:hover>.bg{
  height: 230px;
  transition: 0.3s;
  transition-delay: 0s;
  xborder: 1px solid rgb(224,224,224);
  box-shadow: 0px 1px 4px rgb(224,224,224);
}

div.linkarea>.link>a{
  color:#333333 ;
}
div.linkarea:hover>.link:hover>a{
  color:#FF6700;
}

/* nextbar下滑框 
Q1：如何实现hover <a>时下滑框宽度为100%
Q2：未考虑到下滑框100%的问题导致一系列的绝对定位，并导致nextbar最后两栏存在hover bug
*/


/*~~~~~~~~~~~~~~~~~~~~~~~*/
div.displayblock{
  width: 1226px;
  height: 460px;
  margin: auto;
  position: relative;
  z-index:1 ;
}

.divimg{
  position: absolute;
  width: 1226px;
  height: 460px;
}

.divimg>img{
  position: absolute;
  width: 1226px;
  height: 460px;
  z-index: 1;
}

.slidebar{
  position: absolute;
  z-index: 2;
}

.slide>.slidebar>input{
  position: absolute;
  display: none;
}

.labelbar{
  position: absolute;
  width: 109px;
  height: 21px;
  z-index: 2;
  left: 1080px;
  top:430px;
}

.slide>.slidebar>.labelbar>label{
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border: 2px solid rgb(125,141,153);
  border-radius: 100%;
  box-sizing: border-box;
}

.slide>.slidebar>.labelbar>label:before{
  content: "";
  position: absolute;
  border: 3px solid;
  border-color: rgb(100,100,100,0.7);
  border-radius: 50%;
}

.slidebar>.labelbar>label:hover::before{
  border-color: rgb(245,245,245,0.7);
}

#aa:checked~.labelbar>.aa::before,
#bb:checked~.labelbar>.bb::before,
#cc:checked~.labelbar>.cc::before,
#dd:checked~.labelbar>.dd::before,
#ee:checked~.labelbar>.ee::before
{
  border-color: rgb(245,245,245,0.7);
}

#aa:checked~.divimg>.sp1{
  opacity: 1;
  transition:1s;
}
#aa:checked~.divimg>.sp2,
#aa:checked~.divimg>.sp3,
#aa:checked~.divimg>.sp4,
#aa:checked~.divimg>.sp5{
  opacity: 0;
  transition:1s;
}

#bb:checked~.divimg>.sp2{
  opacity: 1;
  transition:1s;
}
#bb:checked~.divimg>.sp1,
#bb:checked~.divimg>.sp3,
#bb:checked~.divimg>.sp4,
#bb:checked~.divimg>.sp5{
  opacity: 0;
  transition:1s;
}

#cc:checked~.divimg>.sp3{
  opacity: 1;
  transition:1s;
}
#cc:checked~.divimg>.sp1,
#cc:checked~.divimg>.sp2,
#cc:checked~.divimg>.sp4,
#cc:checked~.divimg>.sp5{
  opacity: 0;
  transition:1s;
}

#dd:checked~.divimg>.sp4{
  opacity: 1;
  transition:1s;
}
#dd:checked~.divimg>.sp1,
#dd:checked~.divimg>.sp2,
#dd:checked~.divimg>.sp3,
#dd:checked~.divimg>.sp5{
  opacity: 0;
  transition:1s;
}

#ee:checked~.divimg>.sp5{
  opacity: 1;
  transition:1s;
}
#ee:checked~.divimg>.sp1,
#ee:checked~.divimg>.sp2,
#ee:checked~.divimg>.sp3,
#ee:checked~.divimg>.sp4{
  opacity: 0;
  transition:1s;
}
/* input与label关联 */
.divimg label{
  position: absolute;
}

.divimg>label:nth-child(2n+1){
  position: absolute;
  left: 234px;
  top: 195px;
  z-index: 10;
  width:40px;
  height: 70px;
  background-image:url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
  background-repeat:no-repeat;
  background-position:-83px 0px;
}

.divimg>label:nth-child(2n+1)::after{
  content: "";
  position: absolute;
  z-index: 10;
  left: 1px;
  width:40px;
  height: 70px;
  background-repeat:no-repeat;
  background-image:url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
  visibility: hidden;
}
/* 左侧按钮布局设置，用伪元素实现双层按钮 */

.divimg>label:nth-child(2n){
  position: absolute;
  right: 0;
  top: 195px;
  z-index:10 ;
  width:40px;
  height: 70px;
  background-image:url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
  background-repeat:no-repeat;
  background-position:right;
}

.divimg>label:nth-child(2n)::after{
  content: "";
  position: absolute;
  z-index: 10;
  width:40px;
  height: 70px;
  background-image:url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
  background-repeat:no-repeat;
  background-position:-44px 1px;
  visibility: hidden;
}

.divimg>label:hover::after{
  visibility: visible;
}

/* 左侧按钮设置，用伪元素实现双层按钮 */

#aa:checked~.divimg>label:not(.buttom1):not(.buttom2){
  display: none;
}
#bb:checked~.divimg>label:not(.buttom3):not(.buttom4){
  display: none;
}
#cc:checked~.divimg>label:not(.buttom5):not(.buttom6){
  display: none;
}
#dd:checked~.divimg>label:not(.buttom7):not(.buttom8){
  display: none;
}
#ee:checked~.divimg>label:not(.buttom9):not(.buttom10){
  display: none;
}
/* button的页面分布 */

.hoverbar{
  position: absolute;
  width: 234px;
  height: 420px;
  padding: 20px 0;
  background-color:rgba(105,101,101,.6);
  z-index: 2;
  font-size: 0;
}

.hoverbar>span{
  position: relative;
  display: inline-block;
  width: 204px;
  height: 42px;
  padding:0 0 0 30px;
  font-size: 14px;
  line-height: 42px;
  color: white;
  vertical-align: middle;
}

.hoverbar>span>.iconfont{
position: absolute;
right: 25px;
}

.hoverbar>span:hover{
    background-color:rgba(255,103,0)
}
/*左侧hover栏*/

.hover1plot,
.hover2plot,
.hover3plot,
.hover4plot,
.hover5plot,
.hover6plot,
.hover7plot,
.hover8plot,
.hover9plot,
.hover10plot{
  box-shadow: 1px 4px 8px rgb(204,204,204);
  position: absolute;
  left: 234px;
  top: -20px;
  width: 0px;
  height: 460px;
  font-size: 0;
  background-color: white;
  overflow: hidden;
  z-index:4;
}

.hover2plot{
  top: -62px;
}
.hover3plot{
  top: -104px;
}
.hover4plot{
  top: -146px;
}
.hover5plot{
  top: -188px;
}
.hover6plot{
  top: -230px;
}
.hover7plot{
  top: -272px;
}
.hover8plot{
  top: -314px;
}
.hover9plot{
  top: -356px;
}
.hover10plot{
  top: -398px;
}


.hover1plot ul,
.hover2plot ul,
.hover3plot ul,
.hover4plot ul,
.hover5plot ul,
.hover6plot ul,
.hover7plot ul,
.hover8plot ul,
.hover9plot ul,
.hover10plot ul{
  list-style: none;
  position: absolute;
  width: 248px;
  height: 460px;
  padding:0;
  margin-right:-40px;
}

.TWO,.THREE,.FOUR{
  position: absolute;
  left:248px;
}

.hover1plot ul>li,
.hover2plot ul>li,
.hover3plot ul>li,
.hover4plot ul>li,
.hover5plot ul>li,
.hover6plot ul>li,
.hover7plot ul>li,
.hover8plot ul>li,
.hover9plot ul>li,
.hover10plot ul>li{
  width: auto;
  height:40px;
  padding: 18px 20px;
  margin-right: -20px;
  font-size:14px;
  color: rgb(51,51,51);
}

.hover1plot ul>li>a,
.hover2plot ul>li>a,
.hover3plot ul>li>a,
.hover4plot ul>li>a,
.hover5plot ul>li>a,
.hover6plot ul>li>a,
.hover7plot ul>li>a,
.hover8plot ul>li>a,
.hover9plot ul>li>a,
.hover10plot ul>li>a{
  display: inline-block;
  width: auto;
  height: 40px;
  color:rgb(51,51,51)
}

.hover1plot ul>li>a>span,
.hover2plot ul>li>a>span,
.hover3plot ul>li>a>span,
.hover4plot ul>li>a>span,
.hover5plot ul>li>a>span,
.hover6plot ul>li>a>span,
.hover7plot ul>li>a>span,
.hover8plot ul>li>a>span,
.hover9plot ul>li>a>span,
.hover10plot ul>li>a>span{
  display: inline-block; 
  margin-left:12px;
  vertical-align: 40%;
  line-height: 40px;
}

.hoverbar1:hover>.hover1plot,
.hoverbar2:hover>.hover2plot,
.hoverbar3:hover>.hover3plot,
.hoverbar4:hover>.hover4plot,
.hoverbar5:hover>.hover5plot,
.hoverbar6:hover>.hover6plot,
.hoverbar7:hover>.hover7plot,
.hoverbar8:hover>.hover8plot,
.hoverbar9:hover>.hover9plot,
.hoverbar10:hover>.hover10plot{
  width: 992px;
}

.hoverbar ul>li:hover>a{
  color: rgb(255,103,0);
}

/* 
人类的本质就四复读机
人类的本质就四复读机
人类的本质就四复读机
人类的本质就四复读机
人类的本质就四复读机
人类的本质就四复读机
人类的本质就四复读机
人类的本质就四复读机 
*/

div.home-bar{
  font-size: 0;
  width: 1226px;
  height: 170px;
  margin:auto;
  text-align: center;
  overflow: hidden;
  margin: 15px auto 25px;
}

div.home-bar>a{
  display: inline-block;
  position: relative;
}

div.home-bar>.home-list{
  display: inline-block;
  width: 234px;
  height: 170px;
  text-align: center;
  vertical-align: bottom;
  background: rgb(95,87,80);
}

.home-list span{
  width: 70px;
  height: 82px;
  padding: 0 3px;
}

.home-list span>a{
  display: inline-block;
  width: 70px;
  height: 46px;
  padding: 22px 0 10px 0;
  margin-top:5px;
  font-size: 12px;
  line-height: 20px;
  color:rgb(207,204,202);
  text-decoration: none;
  position: relative;
  transition:0.3s;
}

.home-list span>a::before{
  content: "";
  display: inline-block;
  height: 70px;
  width: 1px;
  background-color:rgb(102,94,87) ;
  position: absolute;
  top: 10px;
}

.home-list span>a::after{
  content: "";
  display: inline-block;
  height: 1px;
  width: 64px;
  background-color:rgb(102,94,87) ;
  position: absolute;
  bottom: -10px;
  left: 6px;
}

.home-list span>a:hover{
  color:rgb(255,255,255);
  transition:0.3s;
}

.home-list span>a>.deep>img{
  position: absolute;
  top: 22px;
  left: 23px;
  opacity:0;
  transition:0.3s;
}

.home-list span>a:hover>.deep>img{
  opacity:1;
  transition:0.3s;
}

.home-list span>a>img{
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 23px;
}

.home-bar>.jgb{
  display: inline-block;
  width: 14px;
  height: 170px;

}

.home-bar>.jgb15{
    display: inline-block;
  width: 16px;
  height: 170px;
}
/*homebar*/

div.pagemain{
  width: 100%;
  height: 6035px;
  padding-top: 4px;
  padding-bottom: 12px;
  background-color: #f5f5f5;
}

div.container{
  width: 1226px;
  height: 6019px;
  margin: auto;
}

div.hdbox{
  width: 1226px;
  height: 58px;
  position: relative;
}

h2{    /*所有H2*/
  width: 1226px;
  height: 58px;
  font: 22px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  font-weight:200;
  line-height: 58px;
  color:rgb(51,51,51);
  vertical-align: middle;
  margin: 0;
}
/*头部标签*/

.slidebox .right{
  position: absolute;
  border: 1px solid rgb(224,224,224);
  width: 34px;
  height: 22px;
  right: 0;
  top: -32px;
  text-align: center;
  z-index: 1;
}

.slidebox .left{
  position: absolute;
  border: 1px solid rgb(224,224,224);
  width: 34px;
  height: 22px;
  right: 35px;
  top: -32px;
  text-align: center;
  z-index: 1;
}

.slidebox label{
  line-height: 22px;
}

.slidebox label:not(.AA):not(.FF){
  color: rgb(176,176,176);
}

.slidebox label:hover:not(.AA):not(.FF){
  color: rgb(255,103,0);
}

.slidebox .iconfont{
  color: rgb(224,224,224);
}

.slidebox input{
  display: none;
}

#QQ:checked~:not(.AA):not(.BB){
  z-index: 0;
}
#WW:checked~:not(.CC):not(.DD){
  z-index: 0;
}
#EE:checked~:not(.EE):not(.FF){
  z-index: 0;
}

.row .slidebox span{
  position: absolute;
  left: 0;
  width: 978px;
  height: 340px;
  transition:1s;
  transition-timing-function: cubic-bezier(.46,.88,.48,1);
  background: rgb(245,245,245);
}

#QQ:checked~div .slide2{
 left: 978px;
  transition:1s;
  transition-timing-function: cubic-bezier(.46,.88,.48,1);
}
#QQ:checked~div .slide3{
  left: 978px;
  transition:1s ;
  transition-timing-function: cubic-bezier(.46,.88,.48,1);
}

#WW:checked~div .slide1{
  left: -978px;
  transition:1s;
  transition-timing-function: cubic-bezier(.46,.88,.48,1);
}
#WW:checked~div .slide3{
  left: 978px ;
  transition:1s;
  transition-timing-function: cubic-bezier(.46,.88,.48,1);
}

#EE:checked~div .slide2{
  left: -978px;
  transition:1s;
  transition-timing-function: cubic-bezier(.46,.88,.48,1);
}

#EE:checked~div .slide1{
  left: -978px;
  transition:1s;
  transition-timing-function: cubic-bezier(.46,.88,.48,1);
}




/*翻页逻辑待写*/

div.row{
  width: 1226px;
  height: 340px;
  font-size: 0;
  position: relative;
}

/* div.row *{ 
  box-shadow: 1px 1px 1px, -1px -1px 1px;
} */
 /*轮廓*/

.row>.counter{
  display: inline-block;   /*div是块级元素，注意设置为行内块*/
  width: 234px;
  height: 300px;
  padding-top:39px;
  border-top:1px solid;
  border-color: rgb(229,57,53);
  text-align: center;
  vertical-align: top;
  background-color: rgb(241,237,237);
}

.row .counter *{
  display: inline-block;
}

.counter>.changci{
  color: rgb(239,58,59);
  font-size: 21px;
  padding: 15px 0 0;
  width: 234px;
  height: 46px;
}

.counter>img{
  margin: 25px 0 30px 0;
}

.counter>.overtime{
  font-size: 15px;
  width: 234px;
  height: 22px;
  line-height: 22px;
}

.counter>.clock{
  height: 46px;
  width: 168px;
  margin: 28px auto 0;
}

.counter>.clock>span{
  background-color:#605751;
  width: 46px;
  height: 46px;
}

.counter>.clock>li{
  display: inline-block;
  width: 15px;
  font-size: 28px;
  line-height: 28px;
  padding: 9px 0 9px;
  vertical-align: top;
}
/*倒计时*/

.row .slidebox{
  display: inline-block; 
  position: relative;
  width: 978px;
  height: 340px;
  margin-left: 14px;
}

.row .slidebox>div{
  font-size: 0;
  position: relative;
  width: 978px;
  height: 340px;
  overflow: hidden;
}



.row .slidebox a{
  background-color: rgb(255,255,255);
  display: inline-block;
  width: 234px;
  height: 300px;
  padding-top:39px;
  border-top:1px solid ;
  border-color: rgb(229,57,53);
  text-align: center;
  vertical-align: top;
  margin-right: 14px;
  text-decoration: none;
}

.row .slidebox a>img{
  width: 160px;
  margin: 0 37px 22px;
}  

.row .slidebox a>h3{
      margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
}

.row .slidebox a>.desc{
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;
}

.row .slidebox a>.prc{
    margin: 0;
    font-size: 12px;
    color: #ff6709;
}

s{
  color: rgb(173,173,173);
}

/* 滑动框图片布局 */



.row>.slidebox>span::before{
  content: "";
  display: block;
  clear: both;
}

.row>.slidebox>div>span>a:nth-child(4){
  margin-right:0;  
}
/*产品滚动条*/

div.banner-box{
  xbox-shadow: 1px 1px 1px, -1px -1px 1px;  /*待删*/
  width: 1226px;
  height: 120px;
  margin: 22px 0;
}


/*复读机区*/

div.row2{
  width: 1240px;
  height: 628px;
  font-size: 0;
  position: relative;
}

/* div.row *{ 
  box-shadow: 1px 1px 1px, -1px -1px 1px;
} */
 /*轮廓*/

/*B3button待写*/


.hdbox2>a{
  text-decoration: none;
  width: 92px;
  height: 58px;
  position: absolute;
  color: rgb(66,66,66);
  right: 15px;
  top: 0;
  text-align: center;
  line-height: 58px;
   transition:0.3s;
 }

.hdbox2>a>i{
  position: absolute;
  right: -15px;
  vertical-align: middle;
}
i.icon-previewright::before{
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left:1px;
  border-radius: 50%;
  background-color: rgb(176,176,176);
  color: rgb(255,255,255);
  line-height: 20px;
   transition:0.3s;
}

 .hdbox2>a:hover{
   color: #ff6709;
  
 }

 .hdbox2>a:hover i::before{
   background-color:#ff6709 ;
    transition:0.3s;
 }

 /* 查看全部按钮 */

.row2>.bigpct{
  display: inline-block;   /*div是块级元素，注意设置为行内块*/
  width: 234px;
  height: 614px;
}

.row2>.bigpct *{
  display: inline-block;
  position: relative;
  bottom: 0;
  z-index: 2;
  transition: 0.3s;
}  /*大图*/


.row2>.twopct a{
  display: inline-block;
  position: relative;
  bottom: 0px;
  transition: 0.3s;
  width: 234px;
  height: 300px;
  margin-bottom: 14px;
}  /*两张图*/


.row2>.slidebox{
  display: inline-block; 
  position: relative;
  width: 992px;
  height: 614px;
  vertical-align: top;
}


.row2>.slidebox>span::after{
  content: "";
  display: block;
  clear: both;
}

.row2>.slidebox a{
  background-color: rgb(255,255,255);
  float: left;  /*12/12 11：32为调整halfblock进行尝试性浮动*/
  width: 234px;
  height: 260px;
  text-align: center;
  vertical-align: top;
  margin: 0 0 14px 14px;
  padding: 20px 0;
  text-decoration: none;
  position: relative;
  transition:0.3s;
  bottom: 0;
}

.row2>.slidebox a>img{
  width: 160px;
  margin: 0 37px 22px;
}
/*~~~~~~*/

.row2>.slidebox a.half{
  float: right;
  width: 234px;
  height: 93px;
  padding: 50px 0 0 ;
}

.row2>.slidebox a.half>img{
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 0;
  right: 23px;
  top: 31px;

}

.row2>.slidebox a.half>h3{
  width: 94px;
  height: 42px;
  white-space: normal;
  text-align: left;
}

.row2>.slidebox a>h3{
    margin: 0 25px 3px;
    font-size: 14px;
    font-weight: 400;
    color:rgb(51,51,51);
    overflow: hidden;
    white-space: nowrap;
    margin-top: -5px;
}

.row2>.slidebox a.half>h2{
  position: absolute;
  top: 42px;
  left: 15px;
  width: 94px;
  height: 45px;
  font-size: 18px;
  line-height: 45px;
}

.row2>.slidebox a.half>p{
  position: absolute;
  text-align: left;
  margin-left: 25px;
}

.row2>.slidebox a.half>p>small{
  position: absolute;
  white-space: nowrap;
  top: 30px;
  padding: 1px;
}

.row2>.slidebox a.half>i{
  font-size: 48px;
  color: #ff6709;
  position: absolute;
  right: 40px;
}


.row2 a:hover{
  bottom:3px;
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
  z-index: 2;
  transition:0.3s;
}

.row2>.slidebox li.tip3,
.row2>.slidebox li.tip4,
.row2>.slidebox li.tip5,
.row2>.slidebox li.tip6{
  height: 26px;
  position: absolute;
  top: -41px;
  right: 14px;
  font-size: 16px;
  list-style: none;
  color: rgb(66,66,66);
  cursor: pointer;
  transition: visibility 999s;
}

.row2>.slidebox li.tip3,
.row2>.slidebox li.tip5{
    right: 110px;
}

.row2>.slidebox li:hover{
  color: #FF6700;
  border-bottom:2px solid #FF6700;
}


/*
tip5,tip6为覆盖标签
hover效果停留待设置

*/



.row2>.slidebox>span{
  position: absolute;
  transition: visibility 999s;
  visibility: visible;
}

.row2>.slidebox>span:nth-of-type(2){
  transition: visibility 5s;
  visibility: hidden;
}

.row2>.slidebox li.tip3:hover~span:nth-of-type(2){
  display: none;
}
.row2>.slidebox li.tip3:hover~span:nth-of-type(1){
  transition:visibility 0s ;
  visibility: visible;
}


.row2>.slidebox li.tip4:hover~span:nth-of-type(1){
 visibility: hidden;
}
.row2>.slidebox li.tip4:hover~span:nth-of-type(2){
transition:visibility 0s ;
visibility: visible;
}

/* hover后停留未实现 */
/*half block*/





.row2>.slidebox a>.desc{
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;
}

.row2>.slidebox a>.prc{
    margin: 0;
    font-size: 12px;
    color: #ff6709;
}

s{
  color: rgb(173,173,173);
}

/* 滑动框图片布局 */


x.row2>.slidebox>span{
  display: inline-block; 
  width: 992px;
  height: 614px;
}

x.row2>.slidebox>span::before{
  content: "";
  display: block;
  clear: both;
}

x.row2>.slidebox>span>a:nth-child(4){
  margin-right:0;  
}
/*产品滚动条*/

/* 复读机2 */

.B7>a{
  text-decoration: none;
  width: 92px;
  height: 58px;
  position: absolute;
  color: rgb(66,66,66);
  right: 15px;
  top: 0;
  text-align: center;
  line-height: 58px;
   transition:0.3s;
 }

.B7>a>i{
  position: absolute;
  right: -15px;
  vertical-align: middle;
}
i.icon-previewright::before{
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left:1px;
  border-radius: 50%;
  background-color: rgb(176,176,176);
  color: rgb(255,255,255);
  line-height: 20px;
   transition:0.3s;
}

 .B7>a:hover{
   color: #ff6709;
  
 }

 .B7>a:hover i::before{
   background-color:#ff6709 ;
    transition:0.3s;
 }

.row2>.twopct{
  display: inline-block;   /*div是块级元素，注意设置为行内块*/
  width: 234px;
  height: 614px;
}

/* 主要板块结束 */

.videoblock{
  position: relative;
}

div.videoblock{
  display: inline-block;
  width: 1226px;
  height: 285px;
  font-size: 0px;
}

.videoblock>a{
  text-decoration: none;
  color: #333;
  display: inline-block;
  width: 296px;
  height: 285px;
  text-align: center;
  position: relative;
  bottom:0px;
  transition-duration: 0.5s;
  background-color: white;
}

.videoblock li{
  display: inline-block;
  list-style: none;
  width: 14px;
}

.videoblock img{
  margin-bottom:28px;
}

.videoblock h3{
    font-weight: 400;
  font-size: 14px;
      color: #333;
      white-space: nowrap;
  margin: 0;
}

.videoblock i{
  position: absolute;
  left: 20px;
  top: 140px;
}

.videoblock i::before{
  vertical-align: middle;
  font-size: 14px;
  display: block;
  width: 32px;
  height: 20px;
  line-height: 20px;
  border: solid 2px white;
  border-radius: 12px;
  color: white;
  transition-duration: 0.3s;
}

.videoblock img:hover~i::before,
.videoblock i:hover::before{
  background-color: rgb(255,103,0);
  border-color: rgb(255,103,0);
  transition-duration: 0.3s;
}

.videoblock a:hover{
  bottom:2px;
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
  z-index: 2;
  transition:0.3s;
}

/* 视频区，视频弹出待写 */
.footer *{
  xbox-shadow: 1px 1px 1px,-1px -1px 1px;
}

.footer{
  font-size: 0;
  width: 1226px;
  height: 25px;
  margin: auto;
  padding: 27px 0;
  vertical-align: top;
  text-align: center;
    border-bottom: 1px solid #E0E0E0;
}

.footer a{
  display: inline-block;
  width: 244px;
  height: 25px;
  text-decoration: none;
  color: rgb(97,97,97);
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  position: relative;
}


.footer li{
  display: inline-block;
  width: 1px;
  height: 25px;
  background-color: rgb(224,224,224);
}

.footer i{
  position: absolute;
  display: block;
  opacity: 1;
  left: 40px;
  width: 24px;
  height: 24px;
  background:no-repeat;
  background-size: 24px 24px;
  color: #616161;
}

.footer i::before{
  font-size: 24px;
  display: block;
  color:   #616161;
}


.footer a:hover i::before{
  color: #ff6709;
}
/* ~~~~~~~~~~*/

.footer-table{
  xbox-shadow: 1px 1px 1px,-1px -1px 1px;
  width: 1226px;
  height: 112px;
  padding: 40px 0;
  margin: 0  auto;

}

.footer-table *{
  xbox-shadow: 1px 1px 1px,-1px -1px 1px;
}

.footer-table a{
  text-decoration: none;
}

.footer-table>.col-links{
  display: inline-block;
}

.footer-table dl{
  margin: 0 auto;
}

.footer-table dt{
  width: 160px;
  height: 18px;
  margin: 0 0 26px 0;
  color: #424242;
}

.footer-table dd{
  width: 160px;
  height: 18px;
  margin: 10px 0 0 0;
  color: #757575;
}

.footer-table dl a:hover{
  color:#ff6709 ;
}

.footer-table>.telbox{
  display: inline-block;
  width: 230px;
  height: 112px;
  text-align: center;
  vertical-align: top;
  padding-left: 10px;
  border-left: 1px solid #E0E0E0;
  margin-left: -3px;
}

.footer-table>.telbox>.tel{
  font-size: 26px;
  color:#ff6709;
  margin: 0;

}

.footer-table>.telbox>.worktime{
  color:#616161 ;
  margin: 0;
}

.footer-table>.telbox>a{
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ff6709;
  color: #ff6709;
  margin: 10px 0 0 0;
}

.footer-table>.telbox>a:hover,
.footer-table>.telbox>a:hover>em::before{
  color: white;
  background-color: #ff6709;
}

/*~~~~~~~~~~*/

div.endbg{
  width: 100%;
  background-color: rgb(250,250,250);
}

div.endbar{
  xbox-shadow: 1px 1px 1px,-1px -1px 1px;
  width: 1159px;
  height: 158px;
  padding-left: 67px;
  margin: auto;

}

div.endbar *{
  xbox-shadow: 1px 1px 1px,-1px -1px 1px;
}

div.endbar a{
  text-decoration: none;
}

div.endbar> .a-area{
  height: 37px;
  width: 1159px;
  position: relative;
}

div.endbar> .a-area img{
position: absolute;
left: -67px;
}

div.endbar> .a-area a{
  text-decoration: none;
  font-size: 12px;
}

div.endbar> .word-area{
  height: 72px;
  width: 1159px;
  margin-top: 5px;
}

div.ture-end{
  width: 1226px;
  height: 50px;
  margin: auto;
  text-align: center;
}

div.ture-end img{
  padding-top: 20px;
}
/*~~~~~~~~*/
div.tool-bar *{
  xbox-shadow: 1px 1px 1px,-1px -1px 1px;
}

div.tool-bar{
  z-index: 10;
  font-size: 0;
  position: fixed;
  bottom: 70px;
  right: 0;
  xbox-shadow: 1px 1px 1px,-1px -1px 1px;
  width: 84px;
  height: 561px;
}

div.tool-bar a{
  text-decoration: none;
  background-color:white;
  display: inline-block;
  width: 84px;
  height: 92px;
  text-align: center;
  position: relative;
  color: rgb(117,117,117);
}

div.tool-bar a:last-child{
  margin-top: 14px;
}

div.tool-bar>a>img{
  width: 30px;
  height: 30px;
  padding-top: 18px;
  left: 27px;
  position:absolute;
  transition: 0.3s;
}

div.tool-bar a>img:nth-child(2){
  opacity: 0;
}

div.tool-bar a:hover>img:nth-child(1){
  opacity: 0;
  transition: 0.3s;
}
div.tool-bar a:hover>img:nth-child(2){
  opacity: 1; 
  transition: 0.3s;
}

div.tool-bar a>p{
  font-size: 14px;
  margin-top: 56px;
}

div.tool-bar a>span{
  width: 102px;
  height: 164px;
  padding: 14px;
  position: absolute;
  left: 0px;
  top: 0;
  text-align: center;
   opacity: 0;
   transition-delay: 0.1S;
   background-color: white;
}

div.tool-bar a>span>img{
  width: 100px;
  height: 100px;
  margin: 6px 0;
}

div.tool-bar a>span>p{
  font-size: 14px;
  margin-top:14px;
  color: rgb(153,153,153);
}

div.tool-bar a:hover>span{
  transition-property: left,opacity;
  transition-duration: 0s,0.2s;
  left: -145px;
  opacity: 1;
  z-index: 300;
}

div.tool-bar a:hover{
  color: #ff6709;
}


/* 不需绝对定位的hover

div.tool-bar a::before{
  content: "";
  display: none;
  width: 30px;
  height: 30px;
  background-image: url(https://i8.mifile.cn/b2c-mimall-media/74c4fcb4475af8308e9a670db9c01fdf.png);
  background-size: 30px 30px;
  margin-top:18px ;
  background-repeat: no-repeat;
}

div.tool-bar img{
  width: 30px;
  height: 30px;
  padding-top: 18px;
  xdisplay: none;
}

div.tool-bar a:hover::before{
  display: inline-block;
}
div.tool-bar a:hover img{
  display: none;
} */